@import '../styles/variables.scss';

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding: 10dvh 10dvh;

    .nav-btn {
        display: flex;

        .consultation-btn {
            background-color: $black;
            border: none;
            height: 6dvh;
            width: 25dvh;
            border-radius: 3dvh;
            font-weight: 600;
            transition:  background-color .9s;
        }

        .consultation-btn:hover {
            background-color: $violet;
        }
    }
}