@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
footer {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding-top: 10dvh;
}
footer .footer-btn {
  display: flex;
}
footer .footer-btn .consultation-btn {
  background-color: #030303;
  border: none;
  height: 6dvh;
  width: 30dvh;
  border-radius: 3dvh;
  font-weight: 600;
  transition: background-color 0.9s;
}
footer .footer-btn .consultation-btn:hover {
  background-color: #755CDE;
}

nav {
  display: flex;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
  padding: 10dvh 10dvh;
}
nav .nav-btn {
  display: flex;
}
nav .nav-btn .consultation-btn {
  background-color: #030303;
  border: none;
  height: 6dvh;
  width: 30dvh;
  border-radius: 3dvh;
  font-weight: 600;
  transition: background-color 0.9s;
}
nav .nav-btn .consultation-btn:hover {
  background-color: #755CDE;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
}
main h1 {
  text-align: center;
  margin-bottom: 7dvh;
}
main p {
  text-align: center;
  font-weight: 500;
}
main .grid-container {
  display: grid;
  grid-template-areas: "card01 card01 card02 card03 card04" "card01 card01 card05 card05 card06";
  grid-template-rows: 1.5fr 1fr;
  padding-top: 10dvh;
  gap: 4dvh;
}
main .grid-container .card {
  border-radius: 2dvh;
}
main .grid-container .card-img {
  display: flex;
  justify-content: flex-end;
}
main .grid-container .card-img img {
  width: 15dvh;
  height: 15dvh;
  -o-object-fit: cover;
     object-fit: cover;
}
main .grid-container .card01 {
  grid-area: card01;
  background-color: #755CDE;
  padding: 3dvh 3dvh;
}
main .grid-container .card02 {
  grid-area: card02;
  background-color: #F6A560;
  padding: 3dvh 3dvh;
}
main .grid-container .card03 {
  grid-area: card03;
  background-color: #F39E9E;
  padding: 3dvh 3dvh;
}
main .grid-container .card04 {
  grid-area: card04;
  background-color: #61C4B7;
  padding: 3dvh 3dvh;
}
main .grid-container .card05 {
  grid-area: card05;
  background-color: #EB7565;
  padding: 3dvh 3dvh;
}
main .grid-container .card06 {
  grid-area: card06;
  background-color: #552049;
  padding: 3dvh 3dvh;
}
main .grid-container .card-text {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
main .grid-container .card-text p {
  color: #FFFFFF;
  font-size: 1.3rem;
  font-weight: 600;
}
main .container {
  display: flex;
  max-width: 1240px;
  margin: auto;
  padding: 15dvh 15dvh;
}
main .container div {
  flex: 1;
  gap: 5dvh;
}
main .container .amy-image img {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container .text {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main .container .text .btn {
  background-color: #EB7565;
  border: none;
  border-radius: 3dvh;
  height: 6dvh;
  width: 30dvh;
  font-weight: 600;
  transition: background-color 0.9s;
  color: #FFF7F0;
}
main .container .text .btn:hover {
  background-color: #F6A560;
}
main .caroussel {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}
main .caroussel h2 {
  margin-bottom: 5dvh;
}
main .second-container {
  display: flex;
  max-width: 1240px;
  margin: auto;
  background-color: #030303;
  margin-top: 15dvh;
  padding: 5dvh 5dvh;
  border-radius: 2dvh;
}
main .second-container div {
  flex: 1;
}
main .second-container .book {
  color: #FFF7F0;
  text-align: center;
  margin-bottom: 4dvh;
}
main .second-container .explanation {
  margin-bottom: 4dvh;
  color: #FFF7F0;
}
main .second-container .btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .second-container .btn-container .btn {
  background-color: #EB7565;
  border: none;
  border-radius: 3dvh;
  height: 6dvh;
  width: 30dvh;
  font-weight: 600;
  transition: background-color 0.9s;
  color: #FFF7F0;
}
main .second-container .btn-container .btn:hover {
  background-color: #F6A560;
}

@media (width <= 768px) {
  .grid-container {
    grid-template-areas: "card01" "card02" "card03" "card04" "card05" "card06" !important;
  }
}
@media (width <= 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

header {
  width: 100%;
}

body {
  width: 100%;
  height: 100dvh;
  position: relative;
  outline: none;
  background-color: #FFF7F0;
  font-family: "Plus Jakarta Sans", serif;
}

h1 {
  font-size: 3rem;
  color: #030303;
}

h2 {
  font-size: 2rem;
  color: #030303;
}

p {
  font-size: 1.2rem;
  color: #74746E;
}

button {
  cursor: pointer;
  color: #FFFFFF;
  font-size: 1rem;
}

img {
  width: 100%;
}

svg {
  width: 100%;
}

@media (width <= 768px) {
  h1, h2 {
    font-size: 1.7rem;
  }
}/*# sourceMappingURL=styles.css.map */