@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

$white: #FFF7F0;
$black: #030303;
$violet: #755CDE;
$grey: #74746E;
$primaryWhite: #FFFFFF;
$peach: #F6A560;
$pink :#F39E9E;
$primaryPink: #EB7565;
$green: #61C4B7;
$purple: #552049;